<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="validacionApp">
    <head>
        <title>Validacion Completa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/css/normalize.css">
        <link rel="stylesheet" href="lib/css/foundation.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="lib/js/modernizr.js"></script>
        <script src="lib/js/angular.min.js"></script>
    </head>
    <body>
        <form name="signup_form" novalidate ng-submit="signupForm()" ng-controller="signupController">
            <fieldset>
                <legend>Ingresar</legend>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Nombre</label>
                        <input type="text" ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}" 
                               placeholder="Nombre" name="name" ng-model="signup.name" 
                               ng-minlength=3 ng-maxlength=20 required ng-focus/>
                        <div class="error" ng-show="signup_form.name.$dirty && 
                                    signup_form.name.$invalid && 
                                    !signup_form.name.$focused ">
                            <small class="error" ng-show="signup_form.name.$error.required">
                                El Nombre es requerido
                            </small>
                            <small class="error" ng-show="signup_form.name.$error.minlength">
                                Es necesario ingresar al menos 3 caracteres para el Nombre.
                            </small>
                            <small class="error" ng-show="signup_form.name.$error.maxlength">
                                El Nombre no debe tener mas de 20 caracteres.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Email</label>
                        <input type="email" ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}" 
                               placeholder="Email" name="email" ng-model="signup.email" 
                               ng-minlength=3 ng-maxlength=20 required ng-focus/>
                        <div class="error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid && !signup_form.email.$focused">
                            <small class="error" ng-show="signup_form.email.$error.required">
                                Su email es requerido
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.minlength">
                                Su email debe tener al menos 3 caracteres
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.email">
                                El email ingresado no es v&aacute;lido
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.maxlength">
                                El email no puede tener mas de 20 caracteres.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Usuario</label>
                        <input type="text" ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}" 
                               placeholder="Nombre de Usuario"  name="username" ng-model="signup.username" 
                               ng-minlength=3 ng-maxlength=20 ensure-unique="username" required ng-focus/>
                        <div class="error" ng-show="signup_form.username.$dirty && signup_form.username.$invalid && signup_form.username.$focused">
                            <small class="error" ng-show="signup_form.username.$error.required">
                                El Nombre de Usuario es requerido
                            </small>
                            <small class="error" ng-show="signup_form.username.$error.minlength">
                                El Nombre de Usuario tiene que tener mas de 3 caracteres
                            </small>
                            <small class="error" ng-show="signup_form.username.$error.maxlength">
                                El Nombre de Usuario no puede tener mas de 20 caracteres
                            </small>
                            <small class="error" ng-show="signup_form.username.$error.unique">
                                El Nombre de Usuario ya existe, ingrese otro.
                            </small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button radius" ng-disabled="signup_form.$invalid">Ok</button>
            </fieldset>
        </form>
        <script src="lib/js/jquery.js"></script>
        <script src="lib/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script src="js/app.js"></script>
    </body>
</html>
