<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="">
    <head>
        <title>Validacion Completa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/css/normalize.css">
        <link rel="stylesheet" href="lib/css/foundation.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="lib/js/modernizr.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    </head>
    <body>
        <form name="signup_form" novalidate ng-submit="signupForm()">
            <fieldset>
                <legend>Ingresar</legend>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre" name="name" ng-model="signup.name" ng-minlength=3 ng-maxlength=20 required/>
                        <div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid">
                            <small class="error" ng-show="signup_form.name.$error.required">
                                El Nombre es requerido
                            </small>
                            <small class="error" ng-show="signup_form.name.$error.minlength">
                                Es necesario ingresar al menos 3 caracteres para el Nombre.
                            </small>
                            <small class="error" ng-show="signup_form.name.$error.maxlength">
                                El Nombre no debe tener mas de 20 caracteres.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Email</label>
                        <input type="email" placeholder="Email" name="email" ng-model="signup.email" ng-minlength=3 ng-maxlength=20 required/>
                        <div class="error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                            <small class="error" ng-show="signup_form.email.$error.required">
                                Su email es requerido
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.minlength">
                                Su email debe tener al menos 3 caracteres
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.email">
                                El email ingresado no es v&aacute;lido
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.maxlength">
                                El email no puede tener mas de 20 caracteres.
                            </small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button radius">Ok</button>
            </fieldset>
        </form>
        <script src="lib/js/jquery.js"></script>
        <script src="lib/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
